html {
  scroll-behavior: smooth;
}

body{
	/*width:700px;*/
	display: block;
	background: #111;
	overflow-y: scroll;
	/*overflow-x: scroll;*/

}
.sidenav {
	height: 100%; 
	width: 150px;
	position: fixed; 
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	/*overflow-y: scroll;*/
	padding-top: 1.5%;
	text-align: center;
	/*float:left;*/
	margin-right: 35px;
}

.sections{
	text-align: center;
	font-size: 125%;
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	color: white;
	text-decoration:none;
	display: block;
}

.accordion {
  background-color: transparent;
  color: #444;
  cursor: pointer;
  padding: 2.5%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 100%;
  transition: 0.4s;
  font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  color: white;
}


.panel {
  padding: 0% 1%;
  background-color: grey;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.page {
	position: absolute;
	top: 0; 
	background-color: #111;
	max-width: 900px;
	min-width: 775px;
	margin-top: 0%;
	margin-bottom: 0%;
	left: 30%;
	right: 30%;


}


.sectionHeader {

	padding: 0.5%;
	margin-bottom: 2%;
    left: 0;
    right: 0;
}
h1.sectionHeader{
		font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	font-weight: 10;
	color: white;
	font-size: 225%;
	text-align:center;
}
.job {
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	color: teal;
	font-size: 150%;
	margin: 0;
	text-decoration:none;
	margin-bottom: 0%;

}

.projectTitle{
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	color: teal;
	font-size: 150%;
	text-decoration:none;

}

.links {
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	color: white;
	font-size: 75%;
	position:relative;
	text-decoration:none;
}

.home{
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	font-weight: 10;
	color:teal;
	font-size: 200%;
	text-align: center;
	margin: 2.5%;
	margin-top: 5%;
	text-decoration:none;
}

.header {
	text-align: center;
	background: #111;
}

.liSide {
	padding-bottom:2.5%;
	list-style-type: none;
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}
.liList {
	list-style-type: none;
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	text-overflow: hidden;
	color: white;
}

.liExp {
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	text-overflow: hidden;
	color: white;
	padding-bottom: 1%;
	margin-left: 0; 
	font-size: 100%;
}

.liProjects {
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	text-overflow: hidden;
	color: white;
	padding-bottom: 1%;
	margin-left: 0; 
	font-size: 120%;
}

.listInfo{
	height: auto;
	width: 97.5%;
	display: inline-block;
	padding-left: 2.5%;
	/*padding-top: 1%;*/
	margin-bottom:2.5%;

}
.column1of2 {
	float: left;
	width: 300px;
	margin-right: 2.5%;
	height: 300px;
	border-radius: 50%;
	background-image: url("me2.png");
	background-repeat: no-repeat, repeat;
	background-color: #cccccc;
	background-position: center;
	background-size: cover; /* Resize the background image to cover the entire container */
	position: inline-block;
}


.column2of2 {
	width: 65%;
	/*min-width: 380px;*/
	padding-left: 2.5%;
	display: inline-block;
	float: left;
	height: inherit;

}

#section1 {
	display: block;
	height: auto;
	align-content: center;
	width:98%;
	padding: 1%;

}

#bio {
	display: block;
	height: auto;
	align-content: center;
	width:95%;
	padding: 2.5%;
}

#experience {
	display: block;
	height: auto;
	align-content: center;
	width:95%;
	padding: 2.5%;
}

#projects {
	display: block;
	height: auto;
	align-content: center;
	width:95%;
	padding: 2.5%;
}


.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	height:inherit;
	width: 95%;
	border-radius: 5px;
	padding: 2.5%;
	background-color: #24292e;
	display: inline-block;


}

img.profile {
	border-radius: 100%;
	width:10vw;
	height:100%;
	position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    text-align: center;
	
}
div.projectContainer{
	height: 90px
}
div.iconContainer{
	float:left;
	padding-left:7.5%;
	padding-right: 2.5%
}
img.iconLogo {
	height: 90px;
}
div.nameContainer{
	display: inline-block;
}
h1.projectTitle{
	/*width: 70%;*/
	font-size: 35px;
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	/*line-height: 90px;*/
	/*margin:auto;*/
	text-align: center;
	color:#008080;
}

div.projectHeader {
	height:90px;
	padding-inline-start:10%;
	padding-inline-end:10%;


}
a.projectHeader{
	text-decoration: none;
	/*height: 0px;*/

}
h1.projectHeader {
	/*width: 70%;*/
	font-size: 35px;
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	/*line-height: 90px;*/
	/*margin:auto;*/
	text-align: center;
	color:#008080;


}

/*img.projectHeader{
	float: left;
	height:90px;
	padding-inline-end:2.5%;

}

img.projectIcon{
	float: left;
	width: 90px;
	margin:auto;

}

h1.projectIcon{
	width:100%;
	font-size:45px;
	text-align: center;
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	color: teal;
}
*/
.icon{
	float: left;
	width: 15%;
	margin:auto;
	margin-right: 2.5%;
	padding-left: 3.5%

}