/*
Icon Colors Used 
 - sand: #b1a296
 - dark background: #0b0c10
 - section button blue grey: #1d202b
 - darkslategray
 - dimgrey
 - steelblue
 */



html {
/*    height: 100%;
    margin: 0;*/
    /*overflow-y:scroll;*/
    /*padding-top: 2.5%;*/

}

body {
    /* padding: 0 25%; */
    display: grid;
    margin: auto;
    /* padding: 2% 0; */
    /* width: 1700px; */
    /* min-width: 1000px; */
    overflow-y: hidden;
    background-color: white;
    /* background-image: url(background.png); */
    /* background-image: url(D:/jpmar/Documents/Code/Github Pages/jpmar327.github.io/photos/Santorini Boat.jpg); */
    background-size: cover;
    /* padding: 1%; */
    grid-template-columns: 550px auto;
    /* height: 80%; */
    grid-template-rows: 100%;
    background-color: #1d202b;
    /* grid-template-rows: 100%; */
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    /* background-attachment: fixed; */
    /* background-position: center; */
    /*width: 90%;*/
}

::-webkit-scrollbar {
    width: 10px;
}

/*Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

input:focus {
    outline:none;
}

div.page{
    height:95%;
    width: 100%;
}

.sectionButtons{
    height: 100%;
    margin: auto;
    background-color: #333a41;
    padding-left: 10%;
    box-shadow: inset -13px 0px 9px 0 rgba(0,0,0,0.2);
    padding-top: 10%;
    /*24292e*/
}

.text {
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color: white;
}

div.icons{
    display: inline-flex;
    padding: 15px;
}

img.icons {
    width: 100%;
    margin: auto;
}
input.icons {
    width: 100%;
    margin: auto;
}

img.profile {
    border-radius: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 300px;
    margin: auto;
    display: block;
    margin-top: auto;
}
.cardProfile{
    height: 100%;
    width: 95%;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    background-color: rgba(29, 32, 43, 1);
    /* border-radius: 10px; */
    display: grid;
    background-image: url(profile_background3.png);
    background-size: cover;
    /* grid-template-columns: inherit; */
    grid-template-rows: 350px 50px auto;
    padding: 0 2.5%;
}
/*.cardProfile img{
    opacity: 0.5;
}
*/
.linksIcon{
    display: grid;
    margin: auto;
    /*height: 50px;*/
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 50px;
}

a.iconLinks{
    text-align: center;
}
img.iconLinks{
    height: 100%;
}

.cardSections{
    height: 775px;
    width: 95%;
    margin: auto;
    /*display: block;*/
}

.col {
    display: inline-grid;
    grid-template-columns: auto 100px;
    grid-template-rows: 100%;
}
.card {
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.75); */
    /*background-color: #0b0c10;*/
    background-color: #1d202b;
    /* border-radius: 5px; */
    height: 100vh;
    overflow: hidden;
    /* position: relative; */
    /* z-index: 2; */
    margin: 0 auto;
    width: 100%;
    background-repeat: no-repeat; 
    /*background-attachment: fixed;*/
    background-position: center;
    background-image: url(background_blue.png);
    background-size: cover;
}
.aboutText{
    font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    /*font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;*/
    color: white;
    padding-bottom: 0.5%;
    /* padding-top: 0.5%; */
    margin-left: 0;
    font-size: 22.5px;
    font-weight: 500;
    margin: auto 0;

}
.infoGrid{
    display: grid;
    grid-template-rows: 50px 50px 50px 50px;
    grid-template-columns: 75px auto;
    /*margin: 0 15px;*/
}

.name{
    font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    /*font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;*/
    color: white;
    font-size: 40px;
    font-weight: 400;
    margin: 0;
    text-align: center;
    padding: 25px 0;
}
.aboutIMG{
    /*float: left;*/
    height: 80%;
    margin: auto;
    /*padding-right: 10px;*/
}
/*.textCard {
    box-shadow: 0 4px 8px 0 rgba(50,50,50,50.2);
    border-radius: 25px;
    background-color: #24292e;
    height: 650px;
    overflow-y: hidden;
    opacity: 0.75;
    position: relative;
    z-index: 1;
}*/

h1.description{
/*width: 70%; */
    font-size: 50px;
     font-weight: 10; 
    text-align: center;
    font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    /* line-height: 90px; */
    /* margin: auto; */
    color: white;
}
p.description{
    font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    /*font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;*/
    /*text-overflow: hidden;*/
    color: white;
    font-size: 35px;
    font-weight: 1px;
    margin: auto;
}
div.descriptionContainer{
    /*display: inline-block;*/
    /*float: left;*/
    /*min-height: 250px;*/
    /*padding-left: 5%;*/
}
/*div.nameContainer{
    display: inline-block;
    padding-left: 5%;
}*/
.sections{
    text-align: center;
    font-size: 125%;
    font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color: white;
    text-decoration:none;
    display: block;
}
h1.sectionHeader{
    font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-weight: 10;
    color: white;
    font-size: 225%;
    text-align: center;
    /*display: inline-block;*/
    width: 100%;
}
.rowImg {
  display: flex;
  /*flex-wrap: wrap;*/
  padding: 0 0.5%;
}

/* Create four equal columns that sits next to each other */
.columnImg {
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

.columnImg img {
  margin-top: 2.5%;
  vertical-align: middle;
  width: 100%;
}


#bio {
    display: block;
    height: 95%;
    /* padding: 25px 0; */
    /* align-content: center; */
    /* width: 95%; */
    padding: 5%;
    /* margin: auto; */
     /*position: relative;*/
}

#experience {
    /* display: grid; 
    height: 90%;
    /* height: 600px; */
    display: none;
    height: 95%;
    /* grid-template-rows: calc(150%/12) calc(150%/6) calc(100%/12) calc(100%/6) calc(100%/12) calc(100%/6); */
    /* width: 95%; */
    padding: 5%;
    /*margin: auto 0;*/
    overflow-y: scroll;
}

#projects {

    height: 95%;
    /* height: 600px; */
    display: none;
    /*align-content: center;*/
    /* grid-template-rows: calc(150%/12) calc(150%/6) calc(100%/12) calc(100%/6) calc(100%/12) calc(100%/6); */
    /* width: 95%; */
    padding: 5%;
    /*margin: auto 0;*/
    overflow-y: scroll;
}

#photos{
    /*display: grid;*/
    height: 85%;
    /* height: 600px; */
     display: none; 
    /* align-content: center; */
    /* grid-template-rows: calc(150%/12) calc(150%/6) calc(100%/12) calc(100%/6) calc(100%/12) calc(100%/6); */
    /* width: 95%; */
    padding: 5%;
     overflow-y: scroll; 
    /*grid-template-rows: 75% 25%;*/
}

#bio_icon{
    background-color:#1d202b;
    border-radius: 25px 0px 0px 25px;
    box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.25);
}

#experience_icon{
    background-color:transparent;
    border-radius: 25px 0px 0px 25px;
    box-shadow: 0px 0px 11px 3px rgba(0,0,0,0);

}
#projects_icon{
    background-color:transparent;
    border-radius: 25px 0px 0px 25px;
    box-shadow: 0px 0px 11px 3px rgba(0,0,0,0);
}
#photos_icon{
    background-color:transparent;
    border-radius: 25px 0px 0px 25px;
    box-shadow: 0px 0px 11px 3px rgba(0,0,0,0);
}

.jobHeader{
    display: grid;
    /*height: 100px;*/
    grid-template-columns: 200px auto;
    /*grid-template-rows: 100%;*/

}
.projectHeader{
    display: grid;
    /*height: 100px;*/
    grid-template-columns: 200px auto auto;
    /*grid-template-rows: 100%;*/
}
.iconLogo {
    height: 150px;
    margin: auto;
}
h1.jobTitle{
    font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-weight: 10;
    color: white;
    font-size: 45px;
    /* padding-left: 2.5%; */
    /* text-align: center; */
    /* display: inline-block; */
    /* width: 100%; */
    margin: auto 0;
}

.liExp {
    font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color: white;
    padding-bottom: 0.5%;
    /* padding-top: 0.5%; */
    margin-left: 0;
    font-size: 25px;
    margin-bottom: 10px;
}
.ulExp{
        margin: 35px 0 75px 0;
}
i.exp{
    font-size: 35px;
}

h1.projectTitle{
    font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-weight: 10;
    color: white;
    font-size: 45px;
    margin: auto 0;
}
.liProjects {
    font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color: white;
    padding-bottom: 0.5%;
    margin-left: 0;
    font-size: 25px;
    margin-bottom: 10px;
}
.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #008080;
    border: none;
    color: white;
    text-align: center;
    font-size: 125%;
    height: 50%;
    /* padding: 20px; */
    margin: auto 0 auto auto;
    width: 150px;
    transition: all 0.5s;
    font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    cursor: pointer;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.container {
grid-template-rows: 65% 7.5% 22.5%;
    grid-template-columns: 100%;
    height: 100%;
    display: grid;
}

/* Expanding image text */
#expandedImg{
margin: 0 auto;
    height: 100%;
    border-bottom: 45px solid #008080;
}
#imgtext {
    color: white;
    text-align: center;
    font-size: 125%;
    margin: auto;
    font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

/* Closable button inside the image */
.closebtn {
    position: absolute;
    right: 15%;
    top: -1%;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

h1,img,p{opacity: 1;}

@media only screen and (orientation: landscape){}

@media only screen and (max-width:1300px) and (orientation: portrait){
    body {
        overflow-y: scroll;
         display: grid; 
        /*background-color: #0b0c10;*/
        grid-template-columns: auto;
        background-size: cover;
        grid-template-rows: auto auto;
        margin: auto;
        background-attachment: fixed;
        background-position: center;
    }
    .card{
        /*width: 90%;*/
        /*margin: 50px 0 0 0;*/
        height: 90vh;
        /*background-color: #0b0c10;*/
        background-size: auto;
    }
    input.icons {
        width: 75%;
        margin: auto;
    }
    .infoGrid {
        display: grid;
        grid-template-rows:100px 100px 100px 100px;;
        grid-template-columns: 100px auto;
        margin: 0 15px; 
    }

    .aboutText {
        font-size: 50px;
        padding-left: 25px;
    }
    .aboutIMG {
        /* float: left; */
        height: 75px;
        margin: auto;
        /* padding-right: 10px; */
    }
    .name{
        font-size: 100px;
        padding: 25px 0 50px 0;
        font-weight: 500;
    }
    .sectionButtons{
        height: auto;
        display: flex;
        margin: 0;
        padding: 2.5% 2.5% 0 2.5%;
            box-shadow: inset 0px -10px 16px 0 rgba(0,0,0,0.3);

    }

    img.profile {
        height: 500px;
        width: auto;
    }

    .col {
        grid-template-rows: auto 200px;
        grid-template-columns: auto;
        /* margin: 0 auto; */
        width: 100%;
    }
    div.icons{
        display: inline-flex;
        /*margin: auto;*/
    }

    img.icons {
    /*    width: 100px;
        margin: auto;*/
    }
    input.icons {
        width: 60%;
        /*margin: auto;*/
    }
    .cardProfile{
        height: 90.5vh;
        /*width: 100%;*/
        /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
        display: grid;
        background-image: url(profile_background5.png);
        grid-template-rows: 600px 150px auto 150px;
        background-position: center;

    }
    .linksIcon{
        grid-template-rows: 100px;
        grid-template-columns: 200px 200px 200px;
    }
    .columnImg {
        /*flex: none;*/
        max-width: 100%;
    }
    .rowImg {
        display: block;
        /*flex-wrap: none;*/
        /*padding: 0 4px;*/
    }
    #photos{
        height:95%;
    }
    #bio_icon{
        border-radius: 25px 25px 0px 0px;
    }

    #experience_icon{
        border-radius: 25px 25px 0px 0px;
    }
    #projects_icon{
        border-radius: 25px 25px 0px 0px;
    }
    #photos_icon{
        border-radius: 25px 25px 0px 0px;
    }
}

@media only screen 
  and (min-device-width: 500px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .cardProfile {
        height: 85vh;
        /* width: 100%; */
        /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
        display: grid;
        background-image: url(profile_background_tablet.png);
        grid-template-rows: 475px auto auto 150px;
        background-position: center;
    }
    img.profile {
        height: 375px;
        width: auto;
    }
    .linksIcon {
        grid-template-rows: 75px;
        grid-template-columns: 200px 200px 200px;
    }
    .name {
        font-size: 50px;
    }
    .aboutIMG {
        /* float: left; */
        height: 60px;
        margin: auto;
        /* padding-right: 10px; */
    }
    .aboutText {
        font-size: 40px;
        padding-left: 25px;
    }
    .card{
        height: 85vh;
    }
    #photos {
        height: 91.5%;
    }
}

 /*and (min-height:100px) and (max-height:1000px)*/