html {
  scroll-behavior: smooth;
}

body{
	/*width:700px;*/
	display: block;
	background: #111;
	overflow-y: scroll;
	/*overflow-x: scroll;*/

}
.sidenav {
	height: 100%; 
	width: 150px;
	position: fixed; 
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	/*overflow-y: scroll;*/
	/*padding: 1%;*/
	text-align: center;
	/*float:left;*/
	margin-right: 5%;
}

#sections{
	text-align: center;
	font-size: 125%;
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	color: white;
	text-decoration:none;
}

.accordion {
  background-color: transparent;
  color: #444;
  cursor: pointer;
  padding: 2.5%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 100%;
  transition: 0.4s;
  font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  color: white;
}


.panel {
  padding: 0% 1%;
  background-color: grey;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.page {
	height: 100%;
	/*width: 87%;*/
	/*width:87vw;*/
	position: absolute;
	/*z-index: 1;*/
	top: 0; 
	/*left: 25%;*/
	background-color: #111;
	max-width: 900px;
	min-width: 775px;
	/*margin: calc( - 775px);*/
	margin-top: 0%;
	margin-bottom: 0%;
	
	left: 25%;
	right: 25%;

	/*float:left;*/
	


}

/*.welcome {
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	color: white;
	font-size: 100%;
	text-align: center;
	padding: 1%;
}*/

#about {
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	font-weight: 10;
	color: white;
	font-size: 150%;
	text-align:center;
	padding: 0.5%;
	margin-bottom: 2%;
    left: 0;
    right: 0;
    /*display: inline-block;*/
}
#job {
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	font-weight: 10;
	color: teal;
	font-size: 100%;
	/*float: left;*/
	margin: 0;
	/*padding: 0.5%;*/

}
#title{
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	font-weight: 10;
	color: teal;
	font-size: 100%;
	margin: auto;
	/*float: left;*/
	margin: 0%;
}

.links {
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	color: white;
	font-size: 75%;
	/*font-size: 0.75vw;*/
	position:relative;
	text-decoration:none;
}

.home{
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	font-weight: 10;
	color:teal;
	font-size: 200%;
	text-align: center;
	margin: 2.5%;
	margin-top: 5%;
	text-decoration:none;
}

.header {
	text-align: center;
	background: #111;
}

.liSide {
	padding-bottom:2.5%;
	list-style-type: none;
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}
#liList {
	list-style-type: none;
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	/*font-size: 1.5vw;*/

	text-overflow: hidden;
	color: white;
}

#liExp {
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	/*font-size: 1.5vw;*/
	text-overflow: hidden;
	color: white;
	padding-bottom: 1%;
	margin-left: 0; 
	font-size: 100%;
	/*padding-left: 0;*/
}


.resume{
	height: auto;
	width: 97.5%;
	display: inline-block;
	padding-left: 2.5%;
	/*padding-top: 1%;*/
	margin-bottom:2.5%;

}
.column1of2 {
	float: left;
	width: 300px;
	margin-right: 2.5%;
	height: 300px;
	border-radius: 50%;
	background-image: url("me2.png");
	background-repeat: no-repeat, repeat;
	background-color: #cccccc;
	background-position: center;
	background-size: cover; /* Resize the background image to cover the entire container */
	position: inline-block;
}


.column2of2 {
	width: 65%;
	/*min-width: 380px;*/
	padding-left: 2.5%;
	display: inline-block;
	float: left;
	height: inherit;

}

#section1 {
	display: block;
	height: auto;
	align-content: center;
	width:98%;
	padding: 1%;

}

#section2 {
	display: block;
	height: auto;
	align-content: center;
	width:98%;
	padding: 1%;
}

#sectionBio {
	display: block;
	height: auto;
	align-content: center;
	width:95%;
	padding: 2.5%;
	/*max-width: 775px;*/
	/*min-width: 750px;*/
	/*overflow-x: scroll;*/
}

#sectionResume {
	display: block;
	height: auto;
	align-content: center;
	width:95%;
	padding: 2.5%;
	/*max-width: 775px;*/
}

#sectionProjects {
	display: block;
	height: auto;
	align-content: center;
	width:95%;
	padding: 2.5%;
}


.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	height:inherit;
	width: 95%;
	border-radius: 5px;
	padding: 2.5%;
	background-color: #24292e;
	display: inline-block;


}

#profile img {
	border-radius: 100%;
	width:10vw;
	height:100%;
	position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    text-align: center;
	
}

#jobsicon img{
	float: left;
	width: 100px;
	margin:auto;
	position: inline;
	margin-right: 2.5%;
	padding-left: 3.5%

}

.bck-img{
	/*<img src="pictures/me.jpeg" style = "width:auto;height:20vw;"alt="me"/>*/
	background: color url('pictures/me.jpeg') others;
}

.profile{
	padding: 0.5vw;
}