html {
  scroll-behavior: smooth;
}

body{
	/*width:700px;*/
	display: block;
	background: #111;
	overflow-y: scroll;
	/*overflow-x: scroll;*/

}
.sidenav {
	height: 100%; 
	width: 150px;
	position: fixed; 
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	/*overflow-y: scroll;*/
	padding-top: 1.5%;
	text-align: center;
	/*float:left;*/
	margin-right: 35px;
}

.sections{
	text-align: center;
	font-size: 125%;
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	color: white;
	text-decoration:none;
	display: block;
}

.accordion {
  background-color: transparent;
  color: #444;
  cursor: pointer;
  padding: 2.5%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 100%;
  transition: 0.4s;
  font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  color: white;
}


.panel {
  padding: 0% 1%;
  background-color: grey;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.page {
	/*height: 100%;*/
	/*width: 87%;*/
	/*width:87vw;*/
	position: absolute;
	/*z-index: 1;*/
	top: 0; 
	/*left: 25%;*/
	background-color: #111;
	max-width: 900px;
	min-width: 775px;
	/*margin: calc( - 775px);*/
	margin-top: 0%;
	margin-bottom: 0%;
	
	left: 30%;
	right: 30%;

	/*float:left;*/
	


}

/*.welcome {
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	color: white;
	font-size: 100%;
	text-align: center;
	padding: 1%;
}*/

.sectionHeader {
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	font-weight: 10;
	color: white;
	font-size: 150%;
	text-align:center;
	padding: 0.5%;
	margin-bottom: 2%;
    left: 0;
    right: 0;

    /*display: inline-block;*/
}
.job {
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	/*font-weight: 10;*/
	color: teal;
	font-size: 150%;
	/*float: left;*/
	margin: 0;
	/*padding: 0.5%;*/
	text-decoration:none;
	margin-bottom: 0%;

}

.projectTitle{
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	/*font-weight: 10;*/
	color: teal;
	font-size: 150%;
	/*float: left;*/
	/*margin: 0;*/
	/*padding: 0.5%;*/
	text-decoration:none;
/*	vertical-align: middle;*/
	/*margin-bottom: 0%;*/
	/*align-content: center;*/

}
#title{
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	font-weight: 10;
	color: teal;
	font-size: 100%;
	margin: auto;
	/*float: left;*/
	margin: 0%;
}

.links {
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	color: white;
	font-size: 75%;
	/*font-size: 0.75vw;*/
	position:relative;
	text-decoration:none;
}

.home{
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	font-weight: 10;
	color:teal;
	font-size: 200%;
	text-align: center;
	margin: 2.5%;
	margin-top: 5%;
	text-decoration:none;
}

.header {
	text-align: center;
	background: #111;
}

.liSide {
	padding-bottom:2.5%;
	list-style-type: none;
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}
.liList {
	list-style-type: none;
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	/*font-size: 1.5vw;*/

	text-overflow: hidden;
	color: white;
}

.liExp {
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	/*font-size: 1.5vw;*/
	text-overflow: hidden;
	color: white;
	padding-bottom: 1%;
	margin-left: 0; 
	font-size: 100%;
	/*padding-left: 0;*/
}

.liProjects {
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	/*font-size: 1.5vw;*/
	text-overflow: hidden;
	color: white;
	padding-bottom: 1%;
	margin-left: 0; 
	font-size: 120%;
	/*padding-left: 0;*/
}

.listInfo{
	height: auto;
	width: 97.5%;
	display: inline-block;
	padding-left: 2.5%;
	/*padding-top: 1%;*/
	margin-bottom:2.5%;

}
.column1of2 {
	float: left;
	width: 300px;
	margin-right: 2.5%;
	height: 300px;
	border-radius: 50%;
	background-image: url("me2.png");
	background-repeat: no-repeat, repeat;
	background-color: #cccccc;
	background-position: center;
	background-size: cover; /* Resize the background image to cover the entire container */
	position: inline-block;
}


.column2of2 {
	width: 65%;
	/*min-width: 380px;*/
	padding-left: 2.5%;
	display: inline-block;
	float: left;
	height: inherit;

}

#section1 {
	display: block;
	height: auto;
	align-content: center;
	width:98%;
	padding: 1%;

}

#bio {
	display: block;
	height: auto;
	align-content: center;
	width:95%;
	padding: 2.5%;
	/*max-width: 775px;*/
	/*min-width: 750px;*/
	/*overflow-x: scroll;*/
}

#experience {
	display: block;
	height: auto;
	align-content: center;
	width:95%;
	padding: 2.5%;
	/*max-width: 775px;*/
}

#projects {
	display: block;
	height: auto;
	align-content: center;
	width:95%;
	padding: 2.5%;
}


.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	height:inherit;
	width: 95%;
	border-radius: 5px;
	padding: 2.5%;
	background-color: #24292e;
	display: inline-block;


}

img.profile {
	border-radius: 100%;
	width:10vw;
	height:100%;
	position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    text-align: center;
	
}
div.iconHeader {
	/*width: 100%;*/

	/*position:relative;*/
	height:90px;
	/*position: relative;*/
	/*line-height:90px;*/
	/*display: block;*/
	/*margin: auto;*/
	/*float: left;*/
	/*margin: 1em auto;*/
	/*display:inline-block;*/
	/*margin:auto;*/
	/*position: block;*/
	/*padding: inherit;*/
	/*margin-right: 2.5%;*/
	/*padding-left: 60px;*/
	/*padding-right: 2.5%;*/
	/*margin-bottom: 2.5%;*/
	padding-inline-start:10%;
	padding-inline-end:10%;


}
a.iconHeader{
	text-decoration: none;
	height: 0px;

}
h1.iconHeader {
	/*width: 70%;*/
	font-size: 45px;
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	line-height: 90px;
	/*position:relative;*/
	/*height:90px;*/
	/*line-height:90px;*/
	margin:auto;
	/*text-decoration: none;*/
	/*float: left;*/
	/*display:inline;*/
	text-align: center;
	color:#008080;
	/*margin:auto;*/
	/*position: block;*/
	/*padding: inherit;*/
	/*margin-right: 2.5%;*/
	/*padding-left: 60px;*/
	/*padding-right: 2.5%;*/
	/*margin-bottom: 2.5%;*/


}

img.iconHeader{
	float: left;
	height:90px;
	/*margin:auto;*/
/*	display: inline;
	left: 50%;
    margin-right: -50%;
    transform: translate(50%, 0);*/
	
/*	margin-left: auto;
	margin-right: auto;*/
	/*position: block;*/
/*	margin-right: 2.5%;
	padding-left: 3.5%*/
	padding-inline-end:2.5%;

}

#projectIcon{
	/*height: 90px;*/
	/*float: left;*/
	/*width: 100%;*/
	/*margin:auto;*/
	/*padding-left: 10%;*/
	/*display: block;*/
}
img.projectIcon{
	float: left;
	width: 90px;
	margin:auto;
	/*position: block;*/
/*	margin-right: 2.5%;
	padding-left: 3.5%*/

}

h1.projectIcon{
	width:100%;
	font-size:45px;
	/*float: left;*/
	/*margin: auto;*/
	/*display: inline;*/
	text-align: center;
	/*padding-left: 5%;*/
	/*text-decoration: none;*/
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	/*font-weight: 10;*/
	color: teal;
}
#projectIcon a{
	margin:auto;
	text-decoration: none;
}

#projectName {
	width:calc(85% - 90px);
	font-size:250%;
	padding-left: 5%;
	text-decoration: none;
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	font-weight: 10;
	color: teal;
	/*text-align: center;*/
}
#pr {
	vertical-align: center;
}
.icon{
	float: left;
	width: 15%;
	margin:auto;
	/*position: block;*/
	margin-right: 2.5%;
	padding-left: 3.5%

}

.bck-img{
	/*<img src="pictures/me.jpeg" style = "width:auto;height:20vw;"alt="me"/>*/
	background: color url('pictures/me.jpeg') others;
}

.profile{
	padding: 0.5vw;
}