.sidenav {
	height: 100%; 
	width: 20%;
	position: fixed; 
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 20px;
	text-align: center;
}

.accordion {
  background-color: transparent;
  color: #444;
  cursor: pointer;
  padding: 2.5%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 150%;
  transition: 0.4s;
  font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  color: white;
}


.panel {
  padding: 0 18px;
  background-color: grey;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.page {
	height: 100%;
	width: 80%; 
	position: fixed;
	z-index: 1;
	top: 0; 
	right: 0;
	background-color: white;
	overflow-x: hidden;

}

.title {
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	font-weight: 10;
	color: teal;
	font-size: 300%;
	text-align: center;
	padding: 2.5%;

}

.links {
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	color: white;
	font-size: 100%;
	position:relative;
	text-decoration:none;
}
.slideshow{
	margin-left: auto;
	margin-right: auto;
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	font-weight: 10;

}

.home{
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	font-weight: 10;
	color:teal;
	font-size: 140%;
	text-align: center;
	padding: 2.5%;
	padding-top: 5%;
	text-decoration:none;

}

li {
	padding-bottom:2.5%;
	list-style-type: none;
}